#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.appbar {
  background-color: #1976d2 !important;
}

.MuiTab-root {
  color: #000000;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
}

.MuiTab-root.Mui-selected {
  color: #ffffff !important;
  font-weight: bold;
}

.MuiTab-root:hover:not(.Mui-selected) {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #ffffff;
}

.MuiTabs-indicator {
  background-color: #ffffff !important;
  height: 4px;
}

.app-title {
  color: #000000;
}
